body{
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}

#back{
    background: url(../image/login/loginimg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    margin: 150px auto;
    position: relative;
    left: 50px;
    border-radius: 30px;
    padding-bottom: 10px;  
    box-shadow: 3px 3px 10px 2px black;  
    text-align: center;
    color: aliceblue;
}

#gobanner{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 15px;
    background-color: #2c789d;
    color: rgb(248, 248, 248);
}

#footer-container {
    background-color:#d9f3ff;
    padding: 20px;
    text-align: center;
  }
  
  #footer-container p {
    margin: 10px 0;
  }
  
  #instagram-link,
  #twitter-link {
    color: #333;
    text-decoration: underline;
  }
  
  #instagram-link:hover,
  #twitter-link:hover {
    color: #555;
  } 

/* For screens with minimum width 768px and maximum width 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
    #back {
        padding: 10%;
    }
}

/* For screens with minimum width 1024px */
@media (min-width: 1024px) {
    #back {
        padding: 7%;
    }
}



